body{
    background-image:url("./background.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Wallpoet', cursive;
}

.container{
    /* margin: 0 auto; */
    padding: 0 100px;
}

.flex-box{
    display: flex;
    flex-direction: row-reverse;
    transition: all .2s;
}
.board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 40px;
    height: 400px;
    width: 400px;
    margin: 20px auto;
}

.player_board{
    width: 250px;
    height: 250px;
    grid-auto-rows: auto;
}
.computer-board-item{
    height: 18px !important;
    width: 18px !important;
    font-size: 15px !important;
}
.hide {
    display: none !important;
}

.sub-board{

}

.board-item{
    height: 30px;
    width: 30px;
    border: 2px solid #FFFFFF;
    background-color:rgba(217, 217, 217, 0.2);
    font-size: 26px;
    color: wheat;
    /* opacity: 20%; */
}

.ship{
    background-color: white;
}

h1{
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}

button{
    width: 100px;
    height: 50px;
    color: black;
    background-color: rgba(217, 217, 217, 0.8);
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Wallpoet', cursive;
}

.player-turn-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 600px;
    padding: 20px;
}

.player-turn-1 {
    /* font-family: 'Titan One', cursive; */
    font-size: 50px;
    font-weight: 900;
    color: rgb(255, 242, 3);
}

.player-turn-2 {
    /* font-family: 'Titan One', cursive; */
    font-size: 50px;
    font-weight: 900;
    color: rgb(255, 3, 213);
}